html { 
  font-size: 62.5%; 
}

#arrow {
  background: url('../images/arrow.png') center no-repeat;
  top: 85vh;
  width: 80px;
  height: 60px;
  position: absolute;
  left: 45%;
  z-index: 999;
  -webkit-animation: 2s bounce infinite;
  -moz-animation: 2s bounce infinite;
  -o-animation: 2s bounce infinite;
  animation: 2s bounce infinite;
}

@-webkit-keyframes bounce {
    0%   {margin-top: 20px;}
    50%  {margin-top: 0px}
    100% {margin-top: 20px;}
}
@-moz-keyframes bounce {
    0%   {margin-top: 20px;}
    50%  {margin-top: 0px}
    100% {margin-top: 20px;}
}
@-o-keyframes bounce {
    0%   {margin-top: 20px;}
    50%  {margin-top: 0px}
    100% {margin-top: 20px;}
}
@keyframes bounce {
    0%   {margin-top: 20px;}
    50%  {margin-top: 0px}
    100% {margin-top: 20px;}
}

#header-image {
  background: url("../images/sf-l.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-repeat: no-repeat;
  margin: 0px;
}

#header-image h1 {
  color: white;
  font-family: Helvetica;
  font-size: 5.5rem;
  padding-top: 18vh;
  text-align: center;
  margin: 0 0 1vh 0;
}

#header-image hr {
    margin: 0 30% 0 30%;
    opacity: 0.8;
}

#header-image h3 {
  color: white;
  font-family: Courier New;
  font-size: 3.3rem;
  text-align: center;
  margin-top: 2vh;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-family: Courier New;
  color: white;
  padding: 1vh 0;
}

#selfie {
  height: 250px; 
  width: 250px;
  padding: 2px;
  margin: 7vh auto auto auto;
  background-color: white;
  display: block;
  border-radius: 50%;
}

#section-about {
  background-color: #E45F56;
  display: inline-block;
}

#about-info {
  padding: 0 10vw 6vh 10vw;
  font-size: 1.4rem;
}

#about-mini-info {
  padding: 6vh 35vw 3vh 35vw;
  text-align: center;
  font-size: 1.7rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 5vh 0 1vh 0;
  font-family: Helvetica;
}

hr {
  margin: 0 10%;
}

@media only screen and (max-width: 499px) {
  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-xs.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  #arrow {
    background: url('../images/arrow.png') center no-repeat;
    top: 85vh;
    width: 40px;
    height: 60px;
    position: absolute;
    left: 45%;
    z-index: 999;
    -webkit-animation: 2s bounce infinite;
    -moz-animation: 2s bounce infinite;
    -o-animation: 2s bounce infinite;
    animation: 2s bounce infinite;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
    padding-top: 18vh;
    text-align: center;
    margin: 0 0 1vh 0;
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 1.45rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 100px; 
    width: 100px;
    padding: 1px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 10vw 6vh 10vw;
    font-size: 1.1rem;
  }

  #about-mini-info {
    padding: 6vh 20vw 3vh 20vw;
    text-align: center;
    font-size: 1.35rem;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding: 5vh 0 1vh 0;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 2.1rem;
    font-family: Courier New;
    color: white;
    padding: 1vh 0;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-s.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 2.9rem;
    padding-top: 18vh;
    text-align: center;
    margin: 0 0 1vh 0;
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 150px; 
    width: 150px;
    padding: 1px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 10vw 6vh 10vw;
    font-size: 1.2rem;
  }

  #about-mini-info {
    padding: 6vh 28vw 3vh 28vw;
    text-align: center;
    font-size: 1.45rem;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 5vh 0 1vh 0;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: Courier New;
    color: white;
    padding: 1vh 0;
  }
}

@media only screen and (min-width: 700px) and (max-width: 985px) {
  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-m.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 3.7rem;
    padding-top: 18vh;
    text-align: center;
    margin: 0 0 1vh 0;
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 200px; 
    width: 200px;
    padding: 2px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 10vw 6vh 10vw;
    font-size: 1.3rem;
  }

  #about-mini-info {
    padding: 6vh 32vw 3vh 32vw;
    text-align: center;
    font-size: 1.6rem;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding: 5vh 0 1vh 0;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 3.1rem;
    font-family: Courier New;
    color: white;
    padding: 1vh 0;
  }
}
