/***************************
****************************
HTML Tags Styles
****************************
***************************/

html { 
  font-size: 62.5%; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  padding-top: 60px;
  font-family: Helvetica;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-family: Courier New;
  color: white;
  padding-bottom: 1vh;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin-right: 35px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover { 
  color: white;
}

li {
  padding: 0 2.5vw;
  float: center;
  margin: auto;
}

/***************************
****************************
CSS general classes Styles
****************************
***************************/
.active { 
  color: white;
  opacity: 0.8;
}

.container {
  padding: 0 10%;
}

.col-6 {
  width: 50%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

/***************************
****************************
Navigation Styles
****************************
***************************/

#nav-name {
  font-size: 2.2rem;
  font-family: 'Aguafina Script', cursive;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  background-color: rgba(255,255,255,0.7);
  z-index: 998;
}

#menu-icon {
  position: fixed; 
  left: 94vw; 
  z-index: 999;
  width: 48px;
  height: 48px;
  display: block;
  top: 0.5vh;
  z-index: 999;
}

/***************************
****************************
Header Tags Styles
****************************
***************************/

#arrow-continer {
  position: absolute;
  bottom: 10px;
  width: 80px;
  height: 60px;
  left: 50%;
  margin-left: -40px;
}

#arrow {
  background: url('../images/arrow.png') center no-repeat;
  width: 80px;
  height: 60px;
  position: absolute;
  -webkit-animation: 2s bounce infinite;
  -moz-animation: 2s bounce infinite;
  -o-animation: 2s bounce infinite;
  animation: 2s bounce infinite;
}

@-webkit-keyframes bounce {
    0%   {margin-top: -20px;}
    50%  {margin-top: 0px}
    100% {margin-top: -20px;}
}
@-moz-keyframes bounce {
    0%   {margin-top: -20px;}
    50%  {margin-top: 0px}
    100% {margin-top: -20px;}
}
@-o-keyframes bounce {
    0%   {margin-top: -20px;}
    50%  {margin-top: 0px}
    100% {margin-top: -20px;}
}
@keyframes bounce {
    0%   {margin-top: 20px;}
    50%  {margin-top: 0px}
    100% {margin-top: 20px;}
}

#header-image {
  background: url("../images/sf-l.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-repeat: no-repeat;
  margin: 0px;
}

#header-image h1 {
  color: white;
  font-family: Helvetica;
  font-size: 5.3rem;
  padding: 18vh 0 2vh 0;
  text-align: center;
  border-bottom: 1px solid white;
  margin: 0 30% 1vh 30%; 
}

#header-image h3 {
  color: white;
  font-family: Courier New;
  font-size: 3.3rem;
  text-align: center;
  margin-top: 2vh;
}

/***************************
****************************
About Me Section Styles
****************************
***************************/

#selfie {
  height: 300px; 
  width: 300px;
  padding: 2px;
  margin: 7vh auto auto auto;
  background-color: white;
  display: block;
  border-radius: 50%;
}

#section-about {
  background-color: #E45F56;
  display: inline-block;
  width: 100%;
}

#about-info {
  padding-bottom: 100px;
  font-size: 1.6rem;
}

#about-mini-info {
  padding: 4vh 25vw 1vh 25vw;
  text-align: center;
}

/***************************
****************************
Education Section Styles
****************************
***************************/

#section-education {
  background-color: #A3D39C;
  display: inline-block;
  width: 100%;
}

#education-img {
  height: 200px;
  width: 100%;
  padding: 15% 0;
}

#box-dragon {
  background-color: white;
  margin-left: 15px;
  text-align: center;
  padding-bottom: 40px;
  border-top: thick solid #7F952D;
  transition: 0.2s all ease-out;
}

#box-dragon:hover {
  transform: scale(1.01, 1.01) translateY(-10px);
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.5);
  color: black;
}

#box-cat {
  background-color: white;
  margin-right: 15px;
  text-align: center;
  padding-bottom: 40px;
  border-top: thick solid #F0A021;
  transition: 0.2s all ease-out;
}

#box-cat:hover {
  transform: scale(1.01, 1.01) translateY(-10px);
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.5);
  color: black;
}

#education-font {
  font-family: "Open Sans",sans-serif;  
}

/***************************
****************************
Experience Section Styles
****************************
***************************/

#section-experience {
  background-color: #7ACCC8;
  display: inline-block;
  width: 100%;
}

.text-experience {
  margin: auto;
  text-align: center;
}

.text-mini-experience {
  padding: 30px;
}

.img-height {
  height: 400px;
}

.img-experience-left {
  width: 0;
  height: 0;
}

.slide-in-left {
  animation-duration: 2s;
  animation-name: slideinleft;
  width: 100%;
  height: 400px;
  margin-left: 0%;
}

@keyframes slideinleft {
  0% {
    margin-left: -150%;
    opacity: 0;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

.img-experience-right {
  width: 0;
  height: 0;
}

.slide-in-right {
  animation-duration: 2s;
  animation-name: slideinright;
  margin-left: 0%;
  width: 100%;
  height: 400px;
}

@keyframes slideinright {
  0% {
    opacity: 0;
    margin-left: 150%;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

/***************************
****************************
Passion Section Styles
****************************
***************************/

#section-passion {
  background-color: #4AAAA5;
  display: inline-block;
  width: 100%;
}

#passion-container {
  margin: 100px 0; 
}

#col-offset {
  margin-left: 50%;
}

.unfixed-image {
  width: 400px;
  position: absolute;
  right: 8%;
  height: 100px;
  padding-top: 125px;
}

.unfixed-heart {
  animation: beat 500ms alternate infinite;
  height: 400px;
  width: 400px;
  position: absolute;
  right: 8%;
}

.fixed-image {
  width: 400px;
  top: 25%;
  position: fixed;
  right: 8%;
  height: 100px;
  padding-top: 125px;
}

.fixed-heart {
  animation: beat 500ms alternate infinite;
  height: 400px;
  width: 400px;
  top: 25%;
  position: fixed;
  right: 8%;
}

@keyframes beat {
  to {
    transform: scale(.95);
  }
}

.passion-order-image {
  order: 2;
}

.passion-order-text {
  order: 1;
}

.hide-heart {
  display: none;
  width: 0;
  height: 0;
}

.passion-items {
  margin-top: 45vh;
}

.passion-item-first {
  margin-top: 0;
}

.passion-info-header {
  margin-top: 75px;
}

.passion-info-text {
  text-align: center; 
  padding: 20px;
}

.enter-0 {
  opacity: 0.0;
}

.enter-1 {
  opacity: 0.2;
}

.enter-2 {
  opacity: 0.4;
}

.enter-3 {
  opacity: 0.6;
}

.enter-4 {
  opacity: 0.8;
}

.enter-5 {
  opacity: 0.1;
}

.entered {
  opacity: 1;
}

/***************************
****************************
Abilities Section Styles
****************************
***************************/

#section-abilities {
  background-color: #35404F;
  display: inline-block;
  width: 100%;
}

.col-4 {
  width: 25%; 
}

.graphs {
  width: 175px;
  height: 175px;
  margin: 100px auto auto auto;
}

.graph-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

/***************************
****************************
Media Queries Styles
****************************
***************************/

@media only screen and (max-width: 499px) {
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding-top: 25px;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 2.1rem;
    font-family: Courier New;
    color: white;
    padding-bottom: 1vh;
  }

  h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  h4 {
    font-size: 1.2rem;
  }

  hr {
    margin: 0 2%;
  }

  ul {
    width: 100%;
    padding: 10px 0;
    font-size: 0.95rem;
    margin-top: 8vh;
    text-align: center;
    display: block;
    background-color: white;
    background-color: rgba(255,255,255,0.7);
  }

  li {
    float: center;
    margin: 2.5vh 0;
  }

  p {
    font-size: 1.2rem;
  }

  #navbar {
    position: fixed;
    width: 11%;
    background-color: white;
    background-color: rgba(255,255,255,0.7);
    left: 89%;
  }

  #menu-icon {
    position: fixed;
    left: 89vw;
    z-index: 999;
    width: 48px;
    height: 48px;
    display: block;
  }

  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-xs.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  #arrow-continer {
    position: absolute;
    bottom: 10px;
    width: 40px;
    height: 60px;
    left: 50%;
    margin-left: -20px;
  }

  #arrow {
    background: url('../images/arrow.png') center no-repeat;
    width: 40px;
    height: 60px;
    position: absolute;
    -webkit-animation: 2s bounce infinite;
    -moz-animation: 2s bounce infinite;
    -o-animation: 2s bounce infinite;
    animation: 2s bounce infinite;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
    padding: 18vh 0 2vh 0;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 30% 1vh 30%; 
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 1.45rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 150px; 
    width: 150px;
    padding: 1px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 2% 50px 2%;
    font-size: 1.2rem;
  }

  #about-mini-info {
    padding: 4vh 10vw 1vh 10vw;
    text-align: center;
  }

  .col-6 {
    width: 100%;
  }

  #education-img {
    height: 120px;
    width: 100%;
    padding: 15% 0;
  }

  #box-dragon {
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
    border-top: thick solid #7F952D;
    transition: 0.2s all ease-out;
    margin: 0 2% 0 2%;
  }

  #box-cat {
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
    border-top: thick solid #F0A021;
    transition: 0.2s all ease-out;
    margin: 0 2% 50px 2%;
  }

  .experience-text-order {
    order: 2;
  }

  .experience-img-order {
    order: 1;
  }

  .slide-in-right {
    animation-duration: 2s;
    animation-name: slideinright;
    width: 98%;
    height: 250px;
    margin-left: 0%;
  }

  .slide-in-left {
    animation-duration: 2s;
    animation-name: slideinleft;
    width: 98%;
    height: 250px;
    margin-left: 0%;
  }

  .img-height {
    height: 275px;
  }

  .text-mini-experience {
    padding: 15px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .passion-order-image {
    order: 1;
  }

  .passion-order-text {
    order: 2;
  }

  .unfixed-image {
    width: 100%;
    margin: auto;
    height: 125px;
    padding: 0;
    position: relative;
    right: 0;
  }

  .passion-info-text {
    text-align: center; 
    padding: 5% 2%;
  }

  .graphs {
    width: 125px;
    height: 125px;
    margin: 100px auto auto auto;
  }

  .col-4 {
    width: 50%;
  }

  .graph-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 50px;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 2.6rem;
    font-family: Courier New;
    color: white;
    padding-bottom: 1vh;
  }
  
  h3 {
    font-size: 2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.4rem;
  }

  hr {
    margin: 0 2%;
  }

  ul {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-top: 8vh;
    text-align: center;
    display: block;
    background-color: white;
    background-color: rgba(255,255,255,0.7);
  }

  li {
    float: center;
    margin: 2.5vh 0;
  }
  
  p {
    font-size: 1.2rem;
  }

  #navbar {
    position: fixed;
    width: 11%;
    background-color: white;
    background-color: rgba(255,255,255,0.7);
    left: 89%;
  }

  #menu-icon {
    position: fixed;
    left: 90.5vw;
    z-index: 999;
    width: 48px;
    height: 48px;
    display: block;
  }

  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-s.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 2.7rem;
    padding: 18vh 0 2vh 0;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 30% 1vh 30%;
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 200px; 
    width: 200px;
    padding: 1px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 2% 75px 2%;
    font-size: 1.4rem;
  }

  #about-mini-info {
    padding: 4vh 16vw 1vh 16vw;
    text-align: center;
  }
  
  .col-6 {
    width: 100%;
  }

  #education-img {
    height: 200px;
    width: 100%;
    padding: 15% 0;
  }

  #box-dragon {
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
    border-top: thick solid #7F952D;
    transition: 0.2s all ease-out;
    margin: 0 2% 0 2%;
  }

  #box-cat {
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
    border-top: thick solid #F0A021;
    transition: 0.2s all ease-out;
    margin: 0 2% 75px 2%;
  }

  .experience-text-order {
    order: 2;
  }

  .experience-img-order {
    order: 1;
  }

  .slide-in-right {
    animation-duration: 2s;
    animation-name: slideinright;
    width: 98%;
    height: 300px;
    margin-left: 0%;
  }

  .slide-in-left {
    animation-duration: 2s;
    animation-name: slideinleft;
    width: 98%;
    height: 300px;
    margin-left: 0%;
  }

  .img-height {
    height: 325px;
  }

  .text-mini-experience {
    padding: 20px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 75px 0;
  }

  .passion-order-image {
    order: 1;
  }

  .passion-order-text {
    order: 2;
  }

  .unfixed-image {
    width: 100%;
    margin: auto;
    height: 150px;
    padding: 0;
    position: relative;
    right: 0;
  }

  .passion-info-text {
    text-align: center; 
    padding: 5% 2%;
  }

  .graphs {
    width: 115px;
    height: 115px;
    margin: 100px auto auto auto;
  }

  .graph-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 985px) {
  h1 {
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding-top: 60px;
    font-family: Helvetica;
  }

  h2 {
    text-align: center;
    font-size: 3.1rem;
    font-family: Courier New;
    color: white;
    padding-bottom: 1vh;
  }

  h3 {
    font-size: 2.2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }

  #header-image {
    align-items: center;
    background-repeat: no-repeat;
    background: url("../images/sf-m.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  #header-image h1 {
    color: white;
    font-family: Helvetica;
    font-size: 3.7rem;
    padding: 18vh 0 2vh 0;
    text-align: center;
    border-bottom: 1px solid white;
    margin: 0 30% 1vh 30%;
  }

  #header-image h3 {
    color: white;
    font-family: Courier New;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2vh;
  }

  #selfie {
    height: 250px; 
    width: 250px;
    padding: 2px;
    margin: 7vh auto auto auto;
    background-color: white;
    display: block;
    border-radius: 50%;
  }

  #about-info {
    padding: 0.75vh 0 100px 0;
    font-size: 1.4rem;
  }

  #about-mini-info {
    padding: 4vh 20vw 1vh 20vw;
    text-align: center;
  }

  #education-img {
    height: 135px;
    width: 100%;
    padding: 15% 0;
  }

  .slide-in-left {
    animation-duration: 2s;
    animation-name: slideinleft;
    width: 100%;
    height: 350px;
    margin-left: 0%;
  }

  .slide-in-right {
    animation-duration: 2s;
    animation-name: slideinright;
    width: 100%;
    height: 350px;
    margin-left: 0%;
  }

  .img-height {
    height: 350px;
  }

  .fixed-image {
    width: 325px;
    top: 25%;
    position: fixed;
    right: 8%;
    height: 75px;
    padding-top: 125px;
  }

  .fixed-heart {
    animation: beat 500ms alternate infinite;
    height: 350px;
    width: 325px;
    top: 25%;
    position: fixed;
    right: 8%;
  }

  .unfixed-image {
    width: 325px;
    position: absolute;
    right: 8%;
    height: 75px;
    padding-top: 125px;
  }

  .unfixed-heart {
    animation: beat 500ms alternate infinite;
    height: 350px;
    width: 325px;
    position: absolute;
    right: 8%;
  }

  .passion-info-header {
    margin-top: 75px;
  }

  .passion-info-text {
    text-align: center; 
    padding: 0 35px;
  }

  .graphs {
    width: 150px;
    height: 150px;
    margin: 100px auto auto auto;
  }
}
