<!-- navigation -->
<a href="#/" id="menu-icon">
	<img src="../images/menu.svg">
</a>
<nav id="navbar">
	<ul>
		<li>
  	  <a href="#/" nav-click scroll-to="section-about" ng-class="{true:'active'}[isActive == 2]">about</a>
		</li>
		<li>
  	  <a href="#/" nav-click scroll-to="section-education" ng-class="{true:'active'}[isActive == 3]">school</a>
		</li>
		<li>
  	  <a href="#/" nav-click scroll-to="header-image" ng-class="{true:'active'}[isActive == 4]">careers</a>
		</li>
		<li>
  	  <a href="#/" id="nav-name" class="active" nav-click scroll-to="header-image" ng-class="{true:'active'}[isActive == 1]">rsb</a>
		</li>
		<li>
  	  <a href="#/" nav-click scroll-to="header-image" ng-class="{true:'active'}[isActive == 5]">passion</a>
		</li>
		<li>
  	  <a href="#/" nav-click scroll-to="header-image" ng-class="{true:'active'}[isActive == 6]">abilities</a>
		</li>
		<li>
  	  <a href="#/" nav-click scroll-to="header-image" ng-class="{true:'active'}[isActive == 7]">contact</a>
		</li>
	</ul>
</nav>
<!-- header section -->
<div id="header-image">
  <h1>
  	Robin Singh Ball
  </h1>
  <h3>
  	Get to know me
  </h3>
  <div id="arrow-continer">
	  <a href="#/" scroll-to="section-about" id="arrow"></a>
  </div>
</div>
<!-- About me section -->
<div id="section-about">
	<div class="container">
		<h1>
			About Me
		</h1>
		<h2>
			{{quotes[0].quote}}
		</h2>
		<hr>
		<img src={{aboutMe.imageLink}} id="selfie" alt="Robin Ball Selfie">
		<div id="about-mini-info">
			<p>
				{{aboutMe.name}}
			</p>
			<p>
				{{getAge()}} yeard old, {{aboutMe.location}}
			</p>
		</div>
		<p id="about-info">
			{{aboutMe.backgroundInfo}}
		</p>
	</div>
</div>
<!-- Education section -->
<div id="section-education">
	<div class="container">
		<h1>
			Education
		</h1>
		<h2>
			{{quotes[1].quote}}
		</h2>
		<hr>
		<div class="row" id="education-font">
			<div class="col-6">
				<div id="box-cat">
					<img id="education-img" src={{education[1].imageLink}}>
					<div>
						{{education[1].schoolName}}
					</div>
					<div>
						{{education[1].degree}}
					</div>
					<div>
						{{education[1].date}}
					</div>
					<div>
						GPA {{education[1].gpa}}
					</div>
				</div>
			</div>
			<div class="col-6">
				<div id="box-dragon">
					<img id="education-img" src={{education[0].imageLink}}>
					<div >
						{{education[0].schoolName}}
					</div>
					<div>
						{{education[0].degree}}
					</div>
					<div >
						{{education[0].date}}
					</div>
					<div>
						{{education[0].location}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
