<!-- header section -->
<section id="header-image">
  <h1>
  	Robin Singh Ball
  </h1>
  <hr>
  <h3>
  	Get to know me
  </h3>
  <div id="arrow-continer">
	  <a href="#/" scroll-to="section-about" id="arrow"></a>
  </div>
</section>
<!-- About me section -->
<section id="section-about">
	<h1>
		About Me
	</h1>
	<h2>
		{{quotes[0].quote}}
	</h2>
	<hr>
	<img src="../images/me.jpg" id="selfie" alt="Robin Ball Selfie">
	<div id="about-mini-info">
		<p>
			{{aboutMe.name}}
		</p>
		<p>
			{{getAge()}} yeard old, {{aboutMe.location}}
		</p>
	</div>
	<p id="about-info">
		{{aboutMe.backgroundInfo}}
	</p>
</section>
